<app-nav-bar></app-nav-bar>
<main>
  <div class="px-[60px] py-12 bg-[#F0F2F5] h-auto">
    <div class="flex justify-between">
      <div class="pt-36">
        <div class="">
          <p class="text-[42px] font-medium text-[#0E57A5] pb-8">Contact Us</p>
          <p class="text-[42px] text-[#0E57A5] font-black pb-4">
            FOR INTUITIVE, SCALABLE &
          </p>
          <p class="text-[42px] text-[#0E57A5] font-black pb-4">
            ROBUST IT SERVICE, GET
          </p>
          <p class="text-[42px] text-[#0E57A5] font-black pb-8">
            CONNECTED WITH US.
          </p>
        </div>
        <p class="text-[20px] text-[#4C4C4C]">
          Fill up the form below or mail us your requirement.
        </p>
      </div>
      <div>
        <img
          src="https://imgur.com/5WQwDVI.png"
          alt="contact-us-logo"
          width="690"
          height="540"
        />
      </div>
    </div>
  </div>

  <div class="flex py-16 h-auto px-[60px]">
    <div>
      <p class="text-[#0E57A5] text-[36px] text-semibold">
        Who <span class="text-[#DD4A48] pb-16">We Are</span>
      </p>
      <p class="text-start text-[18px] text-[#747078] pb-6">
        Since our inception, we have grown as an organization & have
        successfully established our global offices in India, Canada & USA. We
        are fortunate to have a unique team having professional expertise in
        their respective genres. Our knowledgeable & expert team allows us a
        strategic advantage to ride on diverse perspectives, experience & high
        morale.
      </p>
      <p class="text-start text-[18px] text-[#747078]">
        Together we have years of accumulated experience in software development
        & custom web development. As your IT partner, we can deliver tailored &
        scalable solutions to our clients in a quick & efficient manner at
        competitive pricing. Journey past with us on the timeline below & get to
        know what we have achieved so far.
      </p>
    </div>
    <img
      src="https://imgur.com/rFbq0CH.png"
      alt="who-we-are-img"
      width="690"
      height="330.85"
      class="rounded-lg shadow-xl"
    />
  </div>

  <div class="flex justify-between gap-24 items-center py-16 h-auto px-[60px]">
    <img
      src="https://imgur.com/RicLWKl.png"
      alt="what-we-do-img"
      width="500"
      height="466"
    />
    <div>
      <p class="text-[#0E57A5] text-[36px] text-semibold">
        Who <span class="text-[#DD4A48] pb-16">We Do</span>
      </p>
      <p class="text-start text-[18px] text-[#747078] pb-6">
        We are reliable & promising IT & Software development service provider,
        offering robust & scalable solutions all across the globe. We follow
        agile process that allows looking after a business right from scratch &
        let it grow across digital verticals. We follow this by having open
        communication & ensuring timely delivery. We try & focus on innovative
        tools & technologies & if required, we rope in some tools to get the job
        done efficiently.
      </p>
      <p class="text-start text-[18px] text-[#747078]">
        Our versatile, cost-effective & custom content management solutions
        enable clients to increase the margin of profit & out space competition.
        With experience in consulting & servicing, we offer all sorts of
        solutions you require for your business to reach the epitome of success.
      </p>
      <button
        class="font-bold text-lg md:text-xl text-white bg-[#0E57A5] hover:text-[#0E57A5] hover:bg-white hover:border hover:border-slate-800 px-4 py-2 md:px-7 md:py-3 rounded-lg uppercase"
      >
        SCHEDULE TIME TO TALK
      </button>
    </div>
  </div>
</main>
<app-footer></app-footer>
