<app-nav-bar></app-nav-bar>

<main
  class="flex flex-col lg:flex-row bg-[#0E57A5] px-6 lg:px-24 justify-between py-10 lg:py-20 h-auto"
>
  <div class="text-slate-200 my-8 lg:my-28 text-center lg:text-left">
    <p class="text-[24px] lg:text-[34px] font-medium pb-4 lg:pb-8">We Build</p>

    <div class="pb-4 lg:pb-8">
    <p-carousel
      [value]="['SECURE', 'OPTIMIZED', 'SCALABLE', 'TESTABLE']"
      [numVisible]="1"
      [numScroll]="1"
      [circular]="true"
      orientation="vertical"
      verticalViewPortHeight="50px"
      [showNavigators]="false"
      [showIndicators]="false"
      [autoplayInterval]="2000"
    >
      <ng-template let-item pTemplate="item">
        <span class="text-[40px] lg:text-[56px] font-extrabold carousel-item">{{
          item
        }}</span></ng-template
      ></p-carousel
    >
  </div>

    <p class="text-[24px] lg:text-[34px] font-medium pb-4 lg:pb-8">
      Website and Mobile Apps
    </p>
    <div
      class="border-[3px] border-slate-100 w-16 lg:w-24 my-4 mx-auto lg:mx-0"
    ></div>
    <div class="mt-5 text-[16px] lg:text-[18px] font-normal pb-4 lg:pb-8">
      <p class="mb-4 lg:mb-12">
        SentientGeeks provide end-to-end app development for leading
      </p>
      <p>enterprises and startups worldwide.</p>
    </div>
    <button
      class="font-bold text-lg lg:text-2xl text-[#0E57A5] bg-white px-6 lg:px-8 py-3 lg:py-4 rounded-lg hover:text-white hover:bg-[#082647]"
    >
      LET'S CONNECT
    </button>
  </div>
  <div class="pt-10 lg:pt-0 mx-auto">
    <img
      src="https://sentientgeeks.com/images/banner/mobile-ban3.webp"
      alt="mobile-img"
      class="w-full md:w-auto"
      width="650"
      height="550"
    />
  </div>
</main>

<app-footer></app-footer>

<router-outlet></router-outlet>
