<nav
  class="flex justify-between items-center lg:px-10 px-4 lg:py-6 py-4 fixed top-0 bg-white z-[800] w-full"
>
  <a routerLink="/">
    <img
      src="https://imgur.com/TPP7K7r.png"
      alt="logo"
      width="240"
      height="90"
    />
  </a>
  <section class="flex gap-4 md:gap-8">
    <div
      class="gap-4 md:gap-6 text-lg md:text-xl justify-center items-center pt-4 text-[#696969] hidden lg:flex"
    >
      <a
        routerLink="/"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <p class="hover:text-[#49B1E9]">HOME</p>
      </a>
      <a
        routerLink="/about-us"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <p class="hover:text-[#49B1E9]">ABOUT US</p>
      </a>
      <a
        routerLink="/contact-us"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <p class="hover:text-[#49B1E9]">CONTACT US</p>
      </a>
      <a
        routerLink="/careers"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <p class="hover:text-[#49B1E9]">CAREERS</p>
      </a>
    </div>
    <div class="hidden lg:flex gap-4">
      <a routerLink="/sign-up">
        <button
          *ngIf="authService.currentUserSig() === null"
          class="font-bold text-lg md:text-xl text-white bg-[#0E57A5] hover:text-[#0E57A5] hover:bg-white hover:border hover:border-slate-800 px-4 py-2 md:px-7 md:py-3 rounded-lg"
        >
          SIGN UP
        </button>
      </a>
      <a routerLink="/sign-in">
        <button
          *ngIf="authService.currentUserSig() === null"
          class="font-bold text-lg md:text-xl text-white bg-[#0E57A5] hover:text-[#0E57A5] hover:bg-white hover:border hover:border-slate-800 px-4 py-2 md:px-7 md:py-3 rounded-lg"
        >
          SIGN IN
        </button>
      </a>
      <button
        *ngIf="authService.currentUserSig() !== null"
        (click)="logout()"
        class="font-bold text-lg md:text-xl text-white bg-[#0E57A5] hover:text-[#0E57A5] hover:bg-white hover:border hover:border-slate-800 px-4 py-2 md:px-7 md:py-3 rounded-lg"
      >
        LOGOUT
      </button>
    </div>

    <!-- <div class="flex lg:hidden items-center">
      <button class="text-[#696969]">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 7.5h16.5M3.75 12h16.5m-16.5 4.5h16.5"
          />
        </svg>
      </button>
    </div> -->
    <!-- <div class="flex lg:hidden items-center">
    <p-sidebar #sidebarRef [(visible)]="sidebarVisible2" [style.zIndex]="'-1 !important'" position="right" class="side-bar">
      <a
        routerLink="/"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <p class="hover:text-[#49B1E9]">HOME</p>
      </a>
      <a
        routerLink="/about-us"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <p class="hover:text-[#49B1E9]">ABOUT US</p>
      </a>
      <a
        routerLink="/contact-us"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <p class="hover:text-[#49B1E9]">CONTACT US</p>
      </a>
      <a
        routerLink="/careers"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <p class="hover:text-[#49B1E9]">CAREERS</p>
      </a>
    </p-sidebar>
    <p-button
      (onClick)="sidebarVisible2 = true"
      icon="pi pi-arrow-right"
    >Button</p-button>
  </div> -->


  <ul
    (click)="hideSidebar()"
    class="sidebar backdrop-blur-lg max-sm:w-[50%] hidden fixed top-0 right-0 h-[100vh] w-[250px] z-[999] text-white bg-black/50 flex-col items-start justify-start pt-[30px] backdrop:blur-[10px]"
  >
    <li>
      <svg xmlns="http://www.w3.org/2000/svg"
      height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
      <path
              d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z" />
</svg>
    </li>
    <li class="h-[50px]">
      <a class="h-[100%] p-[0_30px] flex items-center" href="#">HOME</a>
    </li>
    <li class="h-[50px]">
      <a class="h-[100%] p-[0_30px] flex items-center" href="#">ABOUT US</a>
    </li>
    <li class="h-[50px]">
      <a class="h-[100%] p-[0_30px] flex items-center" href="#">CAREERS</a>
    </li>
    <li class="h-[50px]">
      <a class="h-[100%] p-[0_30px] flex items-center" href="#">CONTACT US</a>
    </li>
  </ul>
  </section>
</nav>

<router-outlet></router-outlet>
