<app-nav-bar></app-nav-bar>
<main class="px-[60px] bg-[#F0F2F5] py-36 h-auto">
    <div class="flex justify-between">
      <div class="pt-16">
        <div class="">
          <p class="text-[42px] font-normal text-[#0E57A5] pb-8">Sterling Services With</p>
          <p class="text-[42px] text-[#0E57A5] font-black pb-8">
            RELIABLE SOLUTIONS
          </p>
        </div>
        <p class="text-[20px] text-[#4C4C4C]">
            Our proactive team are aware that alliance is the key for the success of any <br> project. As a professional software development company we offer flexible <br> solution that allows generate maximum ROI.
        </p>
      </div>
      <div>
        <img
          src="https://imgur.com/fGtOYzW.png"
          alt="contact-us-logo"
          width="690"
          height="389"
        />
      </div>
    </div>
  </main>
<app-footer></app-footer>