<app-nav-bar></app-nav-bar>
<!-- <main class="px-[60px] bg-[#F0F2F5] pt-[260px] h-auto">
  <div class="flex justify-between">
    <div class="pt-16">
      <div class="">
        <p class="text-[42px] font-normal text-[#0E57A5] pb-8">
          Sterling Services With
        </p>
        <p class="text-[42px] text-[#0E57A5] font-black pb-8">
          RELIABLE SOLUTIONS
        </p>
      </div>
      <p class="text-[20px] text-[#4C4C4C]">
        Our proactive team are aware that alliance is the key for the success of
        any <br />
        project. As a professional software development company we offer
        flexible <br />
        solution that allows generate maximum ROI.
      </p>
    </div>
    <div>
      <img
        src="https://imgur.com/fGtOYzW.png"
        alt="contact-us-logo"
        width="690"
        height="389"
      />
    </div>
  </div>

  <div class="pt-24 pb-8 flex flex-wrap gap-16 justify-center">
    <div>
      <p class="text-[#0E57A5] text-[24px] lg:text-[36px] font-semibold pb-8">
        Our <span class="text-[#DD4A48]">Location</span>
      </p>
      <img
        src="https://imgur.com/E2re0IT.png"
        alt="map-img"
        width="690"
        height="452"
      />
    </div>
    <div class="bg-white rounded-lg p-10">
      <p
        class="text-[#0E57A5] text-[24px] lg:text-[36px] font-semibold pb-8 text-start"
      >
        Please<span class="text-[#DD4A48]"> Fill In The Form </span>Below.
      </p>
      <input
        type="text"
        placeholder="Full Name*"
        required
        class="outline-none pb-3"
      />
      <hr />
      <div>
        <div class="flex items-center py-8 gap-8">
          <div>
            <div class="flex gap-2 items-center">
              <img
                src="https://imgur.com/aNMkdjx.png"
                alt="indiaFlag"
                loading="lazy"
                width="20"
                height="14"
              />
              <p class="text-[#696969] pt-3">+91</p>
              <input type="text" class="outline-none" />
            </div>
            <hr />
          </div>

          <div class="pt-3 w-full">
            <input
              type="text"
              placeholder="Email Address*"
              required
              class="outline-none pb-3"
            />
            <hr />
          </div>
        </div>
        <div class="py-6">
          <textarea
            rows="4"
            cols="70"
            placeholder="Message"
            required
            class="outline-none"
          ></textarea>
          <hr />
        </div>
        <div class="flex gap-2 items-center py-4">
          <input type="checkbox" />
          <p class="text-[#696969] text-[16px] pt-3">
            I agree to the
            <span class="text-blue-500"
              ><a href="#">Terms & Conditions</a></span
            >
            of Sentientgeeks.
          </p>
        </div>
        <button
          class="font-bold text-lg md:text-xl w-full text-white bg-[#0E57A5] hover:text-[#0E57A5] hover:bg-white hover:border hover:border-slate-800 px-4 py-2 md:px-7 md:py-3 rounded-lg"
        >
          SIGN IN
        </button>
      </div>
    </div>
  </div>

  <div class="py-24">
    <p
      class="text-[#0E57A5] text-[24px] lg:text-[36px] font-semibold pb-8 text-center"
    >
      Our Office <span class="text-[#DD4A48]">Locations</span>
    </p>
    <div class="flex flex-wrap justify-center gap-8 pt-12">
      <div class="bg-white p-16 rounded-lg shadow-2xl">
        <div class="flex gap-4 items-center">
          <div
            class="bg-[#559dea] rounded-full w-[75px] h-[75px] flex justify-center items-center"
          >
            <img
              src="https://imgur.com/4aqde06.png"
              alt="img"
              width="42"
              height="42"
            />
          </div>
          <p class="text-[30px] text-[#00172D] font-medium">India</p>
        </div>
        <p class="text-[18px] text-[#747078] pt-10 pb-5 w-[470px]">
          906, Webel IT Park, Tower I, BN Block, Sector V, Kolkata – 700091
        </p>
        <div>
          <i class="fa-solid fa-location-dot text-xl pr-2.5"></i>
          <i class="fa-solid fa-phone text-xl px-2.5"></i>
          <i class="fa-solid fa-envelope text-xl px-2.5"></i>
          <i class="fa-brands fa-skype text-xl px-2.5"></i>
        </div>
      </div>

      <div class="bg-white p-16 rounded-lg shadow-2xl">
        <div class="flex gap-4 items-center">
          <div
            class="bg-[#559dea] rounded-full w-[75px] h-[75px] flex justify-center items-center"
          >
            <img
              src="https://imgur.com/EwUfSzy.png"
              alt="img"
              width="42"
              height="42"
            />
          </div>
          <p class="text-[30px] text-[#00172D] font-medium">Canada</p>
        </div>
        <p class="text-[18px] text-[#747078] pt-10 pb-5 w-[470px]">
          5484 Tomken Road,Unit 32 Mississauga,Ontario Canada L4W 2Z6
        </p>
        <div>
          <i class="fa-solid fa-location-dot text-xl pr-2.5"></i>
          <i class="fa-solid fa-phone text-xl px-2.5"></i>
          <i class="fa-solid fa-envelope text-xl px-2.5"></i>
          <i class="fa-brands fa-skype text-xl px-2.5"></i>
        </div>
      </div>
    </div>
  </div>
</main> -->


<main class="px-4 md:px-8 lg:px-[60px] bg-[#F0F2F5] pt-24 md:pt-36 lg:pt-[260px] h-auto">
  <div class="flex flex-col lg:flex-row justify-between items-center">
    <div class="pt-8 md:pt-16 text-center lg:text-left">
      <div>
        <p class="text-[24px] md:text-[36px] lg:text-[42px] font-normal text-[#0E57A5] pb-4 lg:pb-8">
          Sterling Services With
        </p>
        <p class="text-[24px] md:text-[36px] lg:text-[42px] text-[#0E57A5] font-black pb-4 lg:pb-8">
          RELIABLE SOLUTIONS
        </p>
      </div>
      <p class="text-[16px] md:text-[20px] text-[#4C4C4C]">
        Our proactive team are aware that alliance is the key for the success of any<br class="hidden md:block"/> project. As a professional software development company we offer flexible<br class="hidden md:block"/> solution that allows generate maximum ROI.
      </p>
    </div>
    <div class="mt-8 lg:mt-0">
      <img
        src="https://imgur.com/fGtOYzW.png"
        alt="contact-us-logo"
        class="w-full max-w-md lg:max-w-none lg:w-auto lg:h-auto"
      />
    </div>
  </div>

  <div class="pt-24 pb-8 flex flex-col lg:flex-row gap-16 justify-center">
    <div class="text-center lg:text-left">
      <p class="text-[#0E57A5] text-[24px] lg:text-[36px] font-semibold pb-8">
        Our <span class="text-[#DD4A48]">Location</span>
      </p>
      <img
        src="https://imgur.com/E2re0IT.png"
        alt="map-img"
        class="w-[690px] h-[452px] max-md:w-full"
      />
    </div>
    <div class="bg-white rounded-lg p-6 md:p-10 max-md:w-full w-auto">
      <p class="text-[#0E57A5] text-[24px] lg:text-[36px] font-semibold pb-8 text-start">
        Please <span class="text-[#DD4A48]">Fill In The Form</span> Below.
      </p>
      <input
        type="text"
        placeholder="Full Name*"
        required
        class="outline-none pb-3 w-full"
      />
      <hr />
      <div class="flex flex-col md:flex-row items-start md:items-center py-8 gap-8">
        <div class="w-full md:w-auto">
          <div class="flex gap-2 items-center">
            <img
              src="https://imgur.com/aNMkdjx.png"
              alt="indiaFlag"
              loading="lazy"
              width="20"
              height="14"
            />
            <p class="text-[#696969]">+91</p>
            <input type="text" class="outline-none max-md:w-full md:w-auto" />
          </div>
          <hr />
        </div>
        <div class="w-full">
          <input
            type="text"
            placeholder="Email Address*"
            required
            class="outline-none pb-3 w-full"
          />
          <hr />
        </div>
      </div>
      <div class="py-6">
        <textarea
          rows="4"
          placeholder="Message"
          required
          class="outline-none w-full"
        ></textarea>
        <hr />
      </div>
      <div class="flex gap-2 items-center py-4">
        <input type="checkbox" />
        <p class="text-[#696969] text-[16px]">
          I agree to the
          <span class="text-blue-500"><a href="#">Terms & Conditions</a></span>
          of Sentientgeeks.
        </p>
      </div>
      <button
        class="font-bold text-lg md:text-xl w-full text-white bg-[#0E57A5] hover:text-[#0E57A5] hover:bg-white hover:border hover:border-slate-800 px-4 py-2 md:px-7 md:py-3 rounded-lg"
      >
        SIGN IN
      </button>
    </div>
  </div>

  <div class="py-24">
    <p class="text-[#0E57A5] text-[24px] lg:text-[36px] font-semibold pb-8 text-center">
      Our Office <span class="text-[#DD4A48]">Locations</span>
    </p>
    <div class="flex flex-wrap justify-center gap-8 pt-12">
      <div class="bg-white p-8 md:p-16 rounded-lg shadow-2xl max-md:w-full">
        <div class="flex gap-4 items-center">
          <div class="bg-[#559dea] rounded-full w-[75px] h-[75px] flex justify-center items-center">
            <img
              src="https://imgur.com/4aqde06.png"
              alt="img"
              width="42"
              height="42"
            />
          </div>
          <p class="text-[24px] md:text-[30px] text-[#00172D] font-medium">India</p>
        </div>
        <p class="text-[16px] md:text-[18px] text-[#747078] pt-10 pb-5 w-full md:w-[470px]">
          906, Webel IT Park, Tower I, BN Block, Sector V, Kolkata – 700091
        </p>
        <div class="flex justify-start md:justify-center">
          <i class="fa-solid fa-location-dot text-xl pr-2.5"></i>
          <i class="fa-solid fa-phone text-xl px-2.5"></i>
          <i class="fa-solid fa-envelope text-xl px-2.5"></i>
          <i class="fa-brands fa-skype text-xl px-2.5"></i>
        </div>
      </div>

      <div class="bg-white p-8 md:p-16 rounded-lg shadow-2xl max-md:w-full">
        <div class="flex gap-4 items-center">
          <div class="bg-[#559dea] rounded-full w-[75px] h-[75px] flex justify-center items-center">
            <img
              src="https://imgur.com/EwUfSzy.png"
              alt="img"
              width="42"
              height="42"
            />
          </div>
          <p class="text-[24px] md:text-[30px] text-[#00172D] font-medium">Canada</p>
        </div>
        <p class="text-[16px] md:text-[18px] text-[#747078] pt-10 pb-5 w-full md:w-[470px]">
          5484 Tomken Road, Unit 32 Mississauga, Ontario Canada L4W 2Z6
        </p>
        <div class="flex justify-start md:justify-center">
          <i class="fa-solid fa-location-dot text-xl pr-2.5"></i>
          <i class="fa-solid fa-phone text-xl px-2.5"></i>
          <i class="fa-solid fa-envelope text-xl px-2.5"></i>
          <i class="fa-brands fa-skype text-xl px-2.5"></i>
        </div>
      </div>
    </div>
  </div>
</main>


<app-footer></app-footer>
