<app-nav-bar></app-nav-bar>
<main class="px-[60px] bg-[#F0F2F5] py-12 h-auto">
  <div class="flex justify-between bg-[#EBF3FA]">
    <div class="pt-16">
      <div class="">
        <p class="text-[42px] font-normal text-[#0E57A5] pb-8">
          Join Us & Build Up Your Career
        </p>
        <p class="text-[42px] text-[#0E57A5] font-black pb-8 uppercase">
          GRAB YOUR DREAM JOB
        </p>
      </div>
      <div class="bg-white shadow-lg px-5 py-2.5 flex justify-between items-center rounded-lg">
        <div class="">
        <!-- <i class="pi pi-search" style="font-size: 2rem"></i> -->
        <input type="text" placeholder="Job titles, keywords..." class="outline-none" />
        </div>
        
        <button
          class="font-bold text-lg md:text-xl text-white bg-[#0E57A5] hover:text-[#0E57A5] hover:bg-white hover:border hover:border-slate-800 px-4 py-2 md:px-7 md:py-3 rounded-lg uppercase"
        >
          FIND JOB
        </button>
      </div>
    </div>
    <div>
      <img
        src="https://imgur.com/fGtOYzW.png"
        alt="contact-us-logo"
        width="690"
        height="389"
      />
    </div>
  </div>
</main>
<app-footer></app-footer>
