<!-- <footer class="footer-a lg:px-12 px-6">
  <div class="">
    <div class="">
      <div class="grid grid-cols-4 gap-10">
        <div>
          <h2 class="text-[24px] py-3 text-white font-medium">GET A QUOTE</h2>
          <div class="">
            <ul class="">
              <li class="pb-3">
                <a
                  href="tel:+12898040086"
                  class="flex gap-2 text-[18px] text-[#D8D6D6]"
                >
                  <span>
                    <img
                      src="https://imgur.com/X14fxM0.png"
                      alt="canadaflag"
                      loading="lazy"
                      width="26"
                      height="18.73"
                    /> </span
                  >+1 (289) 804-0086
                </a>
              </li>
              <li class="pb-3">
                <a
                  href="tel:+919748743357"
                  class="flex gap-2 text-lg text-[#D8D6D6]"
                >
                  <span>
                    <img
                      src="https://imgur.com/aNMkdjx.png"
                      alt="indiaFlag"
                      loading="lazy"
                      width="26"
                      height="18.73"
                    /> </span
                  >+919748743357
                </a>
              </li>
              <li class="pb-3">
                <a
                  href="mailto:sales@sentientgeeks.com"
                  class="flex gap-2 text-lg text-[#D8D6D6]"
                >
                  <span>
                    <img
                      src="https://imgur.com/GcMkEZ9.png"
                      alt="mail"
                      loading="lazy"
                      width="26"
                      height="18.73"
                    />
                  </span>
                  <p>sales&#64;sentientgeeks.com</p>
                </a>
              </li>
              <li class="pb-3">
                <a
                  href="skype:live:sentientgeeks?chat"
                  class="flex gap-2 text-lg text-[#D8D6D6]"
                >
                  <span>
                    <img
                      src="https://imgur.com/Z6JfOv4.png"
                      alt="skype"
                      loading="lazy"
                      width="26"
                      height="23"
                    />
                  </span>
                  Call on Skype
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="">
          <h2 class="text-[24px] py-3 text-white font-medium">QUICK LINK</h2>
          <ul>
            <li class="pb-3">
              <a href="/about-us" class="text-[16px] text-[#D8D6D6]"
                >About Us</a
              >
            </li>
            <li class="pb-3">
              <a href="#" class="text-[16px] text-[#D8D6D6]">Core Values</a>
            </li>
            <li class="pb-3">
              <a href="/careers" class="text-[16px] text-[#D8D6D6]">Careers</a>
            </li>
            <li class="pb-3">
              <a href="/contact-us" class="text-[16px] text-[#D8D6D6]"
                >Contact Us</a
              >
            </li>
            <li class="pb-3">
              <a href="#" class="text-[16px] text-[#D8D6D6]">Blog</a>
            </li>
            <li class="pb-3">
              <a href="#" class="text-[16px] text-[#D8D6D6]">Privacy Policy</a>
            </li>
            <li class="pb-3">
              <a href="#" class="text-[16px] text-[#D8D6D6]">Refund Policy</a>
            </li>
            <li class="pb-3">
              <a href="#" class="text-[16px] text-[#D8D6D6]"
                >Delivery &amp; Shipping Policy</a
              >
            </li>
          </ul>
        </div>
        <div class="">
          <h2 class="text-[24px] py-3 text-white font-medium">
            HIRE DEDICATED TEAM
          </h2>
          <div class="">
            <div class="">
              <ul class="text-[#D8D6D6]">
                <li class="pb-3">
                  <a href="#" class="text-[16px] text-[#D8D6D6]"
                    >Web Developer</a
                  >
                  <br />
                  <span
                    ><a href="#" class="text-[16px] text-[#D8D6D6]"
                      >Wordpress</a
                    >
                    |
                    <a href="#" class="text-[16px] text-[#D8D6D6]"
                      >Joomla</a
                    ></span
                  >
                </li>
                <li class="pb-3">
                  <a href="#" class="text-[16px] text-[#D8D6D6]"
                    >E-commerce Developer</a
                  >
                  <br />
                  <span
                    ><a href="#" class="text-[16px] text-[#D8D6D6]">Magento</a>
                    |
                    <a href="#" class="text-[16px] text-[#D8D6D6]">
                      WooCommerce</a
                    >
                    |
                    <a href="#" class="text-[16px] text-[#D8D6D6]">
                      Shopify</a
                    ></span
                  >
                </li>
                <li class="pb-3">
                  <a href="#" class="text-[16px] text-[#D8D6D6]"
                    >Mobile App Developer</a
                  >
                  <br />
                  <span
                    ><a href="#" class="text-[16px] text-[#D8D6D6]">Android</a>
                    | <a href="#" class="text-[16px] text-[#D8D6D6]">IOS</a> |
                    <a href="#" class="text-[16px] text-[#D8D6D6]"
                      >Xamarin</a
                    ></span
                  >
                </li>
              </ul>
            </div>
            <div class="">
              <ul class="text-[#D8D6D6]">
                <li class="pb-3">
                  <a href="#" class="text-[16px] text-[#D8D6D6]"
                    >Full Stack Developer</a
                  >
                  <br />
                  <span
                    ><a href="#" class="text-[16px] text-[#D8D6D6]">MEAN</a> |
                    <a href="#" class="text-[16px] text-[#D8D6D6]">MERN</a> |
                    <a href="#" class="text-[16px] text-[#D8D6D6]"
                      >.NET Core</a
                    ></span
                  >
                </li>
                <li class="pb-3">
                  <a href="#" class="text-[16px] text-[#D8D6D6]"
                    >Front End Developer</a
                  >
                  <br />
                  <span
                    ><a href="#" class="text-[16px] text-[#D8D6D6]">UI/UX</a> |
                    <a href="#" class="text-[16px] text-[#D8D6D6]">Angular</a> |
                    <a href="#" class="text-[16px] text-[#D8D6D6]"
                      >Vue Js</a
                    ></span
                  >
                </li>
                <li class="pb-3">
                  <a href="#" class="text-[16px] text-[#D8D6D6]"
                    >Backend Developer</a
                  >
                  <br />
                  <span
                    ><a href="#" class="text-[16px] text-[#D8D6D6]">PHP</a> |
                    <a href="#" class="text-[18px] text-[#D8D6D6]">Node JS</a> |
                    <a href="#" class="text-[16px] text-[#D8D6D6]"
                      >Laravel</a
                    ></span
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="">
          <h2 class="text-[24px] py-3 text-white font-medium">
            GLOBAL LOCATIONS
          </h2>
          <div class="">
            <div class="">
              <ul class="">
                <li class="pb-4 text-[16px] text-[#D8D6D6]">
                  <b>SentientGeeks (Canada)</b><br />
                  5484 Tomken Road,<br />
                  Unit 32 Mississauga,<br />
                  Ontario Canada L4W 2Z6
                </li>
              </ul>
            </div>
            <div class="">
              <ul class="">
                <li class="pb-3 text-[16px] text-[#D8D6D6]">
                  <b class="pb-4">SentientGeeks (India)</b><br />
                  906, Webel IT Park, Tower I,<br />
                  BN Block, Sector V, Kolkata – 700091
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="">
      <div class="py-12">
        <div class="flex justify-between items-center">
          <div class="">
            <div class="text-[#ADB7C5] text-xl">
              <p>
                COPYRIGHTS 2022 © SENTIENTGEEKS SOFTWARE &amp; CONSULTANCY PVT.
                LTD.
              </p>
            </div>
          </div>
          <div class="flex gap-4 text-white">
            <ul class="flex gap-4 items-center">
              <li>Follow Us:</li>
              <li
                class="border-[3px] border-slate-100 rounded-full py-[10px] px-[16px] text-center"
              >
                <a
                  href="https://www.linkedin.com/company/sentientgeeks"
                  target="_blank"
                  ><i class="fab fa-linkedin-in text-lg" aria-hidden="true"></i
                ></a>
              </li>
              <li
                class="border-[3px] border-slate-100 rounded-full py-[16px] px-[20px] text-center"
              >
                <a href="https://www.facebook.com/sentientgeeks" target="_blank"
                  ><i class="fab fa-facebook-f" aria-hidden="true"></i
                ></a>
              </li>
              <li
                class="border-[3px] border-slate-100 rounded-full py-[16px] px-[20px] text-center"
              >
                <a href="#" target="_blank"
                  ><i class="fab fa-youtube" aria-hidden="true"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer> -->

<footer class="footer-a lg:px-12 px-6">
  <div>
    <div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-10">
        <div>
          <h2 class="text-[24px] py-3 text-white font-medium">GET A QUOTE</h2>
          <div>
            <ul>
              <li class="pb-3">
                <a href="tel:+12898040086" class="flex gap-2 text-[18px] text-[#D8D6D6]">
                  <span>
                    <img
                      src="https://imgur.com/X14fxM0.png"
                      alt="canadaflag"
                      loading="lazy"
                      width="26"
                      height="18.73"
                    />
                  </span>
                  +1 (289) 804-0086
                </a>
              </li>
              <li class="pb-3">
                <a href="tel:+919748743357" class="flex gap-2 text-lg text-[#D8D6D6]">
                  <span>
                    <img
                      src="https://imgur.com/aNMkdjx.png"
                      alt="indiaFlag"
                      loading="lazy"
                      width="26"
                      height="18.73"
                    />
                  </span>
                  +919748743357
                </a>
              </li>
              <li class="pb-3">
                <a href="mailto:sales@sentientgeeks.com" class="flex gap-2 text-lg text-[#D8D6D6]">
                  <span>
                    <img
                      src="https://imgur.com/GcMkEZ9.png"
                      alt="mail"
                      loading="lazy"
                      width="26"
                      height="18.73"
                    />
                  </span>
                  <p>sales&#64;sentientgeeks.com</p>
                </a>
              </li>
              <li class="pb-3">
                <a href="skype:live:sentientgeeks?chat" class="flex gap-2 text-lg text-[#D8D6D6]">
                  <span>
                    <img
                      src="https://imgur.com/Z6JfOv4.png"
                      alt="skype"
                      loading="lazy"
                      width="26"
                      height="23"
                    />
                  </span>
                  Call on Skype
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div>
          <h2 class="text-[24px] py-3 text-white font-medium">QUICK LINK</h2>
          <ul>
            <li class="pb-3">
              <a href="/about-us" class="text-[16px] text-[#D8D6D6]">About Us</a>
            </li>
            <li class="pb-3">
              <a href="#" class="text-[16px] text-[#D8D6D6]">Core Values</a>
            </li>
            <li class="pb-3">
              <a href="/careers" class="text-[16px] text-[#D8D6D6]">Careers</a>
            </li>
            <li class="pb-3">
              <a href="/contact-us" class="text-[16px] text-[#D8D6D6]">Contact Us</a>
            </li>
            <li class="pb-3">
              <a href="#" class="text-[16px] text-[#D8D6D6]">Blog</a>
            </li>
            <li class="pb-3">
              <a href="#" class="text-[16px] text-[#D8D6D6]">Privacy Policy</a>
            </li>
            <li class="pb-3">
              <a href="#" class="text-[16px] text-[#D8D6D6]">Refund Policy</a>
            </li>
            <li class="pb-3">
              <a href="#" class="text-[16px] text-[#D8D6D6]">Delivery &amp; Shipping Policy</a>
            </li>
          </ul>
        </div>
        <div>
          <h2 class="text-[24px] py-3 text-white font-medium">HIRE DEDICATED TEAM</h2>
          <div>
            <div>
              <ul class="text-[#D8D6D6]">
                <li class="pb-3">
                  <a href="#" class="text-[16px] text-[#D8D6D6]">Web Developer</a>
                  <br />
                  <span>
                    <a href="#" class="text-[16px] text-[#D8D6D6]">Wordpress</a>
                    |
                    <a href="#" class="text-[16px] text-[#D8D6D6]">Joomla</a>
                  </span>
                </li>
                <li class="pb-3">
                  <a href="#" class="text-[16px] text-[#D8D6D6]">E-commerce Developer</a>
                  <br />
                  <span>
                    <a href="#" class="text-[16px] text-[#D8D6D6]">Magento</a>
                    |
                    <a href="#" class="text-[16px] text-[#D8D6D6]">WooCommerce</a>
                    |
                    <a href="#" class="text-[16px] text-[#D8D6D6]">Shopify</a>
                  </span>
                </li>
                <li class="pb-3">
                  <a href="#" class="text-[16px] text-[#D8D6D6]">Mobile App Developer</a>
                  <br />
                  <span>
                    <a href="#" class="text-[16px] text-[#D8D6D6]">Android</a>
                    |
                    <a href="#" class="text-[16px] text-[#D8D6D6]">IOS</a>
                    |
                    <a href="#" class="text-[16px] text-[#D8D6D6]">Xamarin</a>
                  </span>
                </li>
              </ul>
            </div>
            <div>
              <ul class="text-[#D8D6D6]">
                <li class="pb-3">
                  <a href="#" class="text-[16px] text-[#D8D6D6]">Full Stack Developer</a>
                  <br />
                  <span>
                    <a href="#" class="text-[16px] text-[#D8D6D6]">MEAN</a>
                    |
                    <a href="#" class="text-[16px] text-[#D8D6D6]">MERN</a>
                    |
                    <a href="#" class="text-[16px] text-[#D8D6D6]">.NET Core</a>
                  </span>
                </li>
                <li class="pb-3">
                  <a href="#" class="text-[16px] text-[#D8D6D6]">Front End Developer</a>
                  <br />
                  <span>
                    <a href="#" class="text-[16px] text-[#D8D6D6]">UI/UX</a>
                    |
                    <a href="#" class="text-[16px] text-[#D8D6D6]">Angular</a>
                    |
                    <a href="#" class="text-[16px] text-[#D8D6D6]">Vue Js</a>
                  </span>
                </li>
                <li class="pb-3">
                  <a href="#" class="text-[16px] text-[#D8D6D6]">Backend Developer</a>
                  <br />
                  <span>
                    <a href="#" class="text-[16px] text-[#D8D6D6]">PHP</a>
                    |
                    <a href="#" class="text-[18px] text-[#D8D6D6]">Node JS</a>
                    |
                    <a href="#" class="text-[16px] text-[#D8D6D6]">Laravel</a>
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div>
          <h2 class="text-[24px] py-3 text-white font-medium">GLOBAL LOCATIONS</h2>
          <div>
            <div>
              <ul>
                <li class="pb-4 text-[16px] text-[#D8D6D6]">
                  <b>SentientGeeks (Canada)</b><br />
                  5484 Tomken Road,<br />
                  Unit 32 Mississauga,<br />
                  Ontario Canada L4W 2Z6
                </li>
              </ul>
            </div>
            <div>
              <ul>
                <li class="pb-3 text-[16px] text-[#D8D6D6]">
                  <b class="pb-4">SentientGeeks (India)</b><br />
                  906, Webel IT Park, Tower I,<br />
                  BN Block, Sector V, Kolkata – 700091
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="py-12">
        <div class="flex flex-col lg:flex-row justify-between items-center">
          <div>
            <div class="text-[#ADB7C5] text-xl">
              <p>
                COPYRIGHTS 2022 © SENTIENTGEEKS SOFTWARE &amp; CONSULTANCY PVT.
                LTD.
              </p>
            </div>
          </div>
          <div class="flex gap-4 text-white mt-4 lg:mt-0">
            <ul class="flex gap-4 items-center">
              <li>Follow Us:</li>
              <li class="border-[3px] border-slate-100 rounded-full py-[10px] px-[16px] text-center">
                <a href="https://www.linkedin.com/company/sentientgeeks" target="_blank">
                  <i class="fab fa-linkedin-in text-lg" aria-hidden="true"></i>
                </a>
              </li>
              <li class="border-[3px] border-slate-100 rounded-full py-[16px] px-[20px] text-center">
                <a href="https://www.facebook.com/sentientgeeks" target="_blank">
                  <i class="fab fa-facebook-f" aria-hidden="true"></i>
                </a>
              </li>
              <li class="border-[3px] border-slate-100 rounded-full py-[16px] px-[20px] text-center">
                <a href="#" target="_blank">
                  <i class="fab fa-youtube" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

