.footer-a {
    background: #0d56a3;
    background: linear-gradient(180deg, #0d56a3 0, #073a70 57%, #011c3a 100%);
}

/* .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.footer-deg2 {
    color: #adb7c5;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
} */